[Desktop Entry]
Name=Path of Exile
Type=Application
Exec=pathofexile.sh
Comment=Path of Exile is an online Action RPG set in the dark fantasy world of Wraeclast. It is designed around a strong online item economy, deep character customisation, competitive PvP and ladder races. The game is completely free and will never be 'pay to win'.
Icon=ca.johnramsden.pathofexile
